@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    /* Font Setup */
    --font-heading: "Bree Serif", cursive;
    --font-body: "Open Sans", sans-serif;

    /* Color Setup */
    --color-primary: #CAEB66;
    --color-secondary: #331A15;
}

@layer base {
    body {
        font-family: var(--font-body);
        color: var(--color-primary);
        background-color: #fff;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
        color: var(--color-secondary);
    }
}