@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
@plugin "daisyui";


@theme {
    /* Font Setup */
    --font-heading: "Bree Serif", cursive;
    --font-body: "Open Sans", sans-serif;

    /* Color Setup */
    --color-heading: #03373D;
    --color-body: #606060;
}

@layer base {
     body {
        font-family: var(--font-body);
        color: var(--color-body);
        background-color: #fff;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
        color: var(--color-heading);
    }
}